<div class="row">
	<div class="col-sm-6">
		<div class="jumbotron" ng-controller="MealCtrl">
			<h2 class="text-center">Enter The Meal Details</h2>
			<form name="detailsForm" ng-submit="submit()">
				<label>Base Meal Price: $ </label>
				<input class="madlib" type="number" placeholder="9.99" ng-model="data.price" min="0" step="any" required/>
				<label>Tax Rate: % </label>
				<input class="madlib" type="number" placeholder="8.5" ng-model="data.taxPerc" min="0" max="100" step="any" required/>
				<label>Tip Percentage: % </label>
				<input class="madlib" type="number" placeholder="15" ng-model="data.tipPerc" min="0" max="100" step="any" required/>
				
				<!-- BUTTONS -->
				<div class="row">
					<div class="col-sm-6 pad-it">
						<input type="submit" value="Submit" class="btn btn-primary"/>
					</div>
					<div class="col-sm-6 pad-it">
						<a ng-click="cancel()" class="btn btn-danger">Cancel</a>
					</div>	
				</div>
			</form>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="jumbotron" ng-controller="ChargesCtrl">
			<h2 class="text-center">Customer Charges</h2>
			<div class="row">
				<div class="col-xs-6">
					<h3 class="text-left">Subtotal</h3>
					<h3 class="text-left">Tip</h3>
					<h3 class="text-left">Total</h3>
				</div>
				<div class="col-xs-6">
					<h3 class="text-left" ng-init="meal.subtotal=0">{{meal.subtotal|number:2}}</h3>
					<h3 class="text-left" ng-init="meal.tip=0">{{meal.tip|number:2}}</h3>
					<h3 class="text-left" ng-init="meal.total=0">{{meal.total|number:2}}</h3>
				</div>
			</div>
			<div class="text-center">
				<a ng-href="#/tips" class="btn btn-primary">My Earnings</a>
			</div>
		</div>
	</div>
</div>